<%- include('../partials/header')%>
<% include('../function/date_function')%>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">
                YelpClimbingGym
            </p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-responsive" src="<%= gyms.image%>" alt="">
                <div class="caption-full">
                    <h4 class="float-right">$19.00/day</h4>
                    <h1><a href=""><%= gyms.name%></a> </h1>
                    <p><%= gyms.description %></p>
                    <p> <em>Submitted by <%= gyms.author.username%></em></p>

                    <% if(currentUser && gyms.author.id.equals(currentUser._id)){ %>
                        <a href="/climbinggyms/<%=gyms._id%>/edit" class="btn btn-warning">Edit</a>
                        <form class="delete-form" action="/climbinggyms/<%=gyms._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="card card-body bg-light" style="margin: 10px auto;">
                <div class="text-right">
                    <a class="btn btn-primary" href="/climbinggyms/<%=gyms._id%>/comments/new">Add Comment</a>
                </div>
                <hr>
                <% gyms.comments.forEach(comment => { %> 
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%=comment.author.username %> </strong>
                            <span class="float-right"> <%= timeSince(comment.updatedAt) %> Ago </span>

                            
                            <p>
                                <%= comment.text%> 
                            </p>
                            <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                                <a class="btn btn-sm btn-warning" href="/climbinggyms/<%=gyms._id%>/comments/<%=comment._id%>/edit" >Edit</a>

                                <form class="delete-form" action="/climbinggyms/<%=gyms._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% });%>

            </div>
        </div>
    </div>
</div>








<%- include('../partials/footer')%>